
html{
    margin: 0;
    margin-top: 0;
    height: auto;
}

body{

    background-color:aliceblue
    
}

nav{

    margin-top: 100px;
}

.mytable{
    margin: 1px auto;
    font-size: xx-small;
    border-style:dashed;
    line-height:8px;
    background-color:azure;
    margin-top: 5px;

}

.part1{
    background-color: rgb(12, 218, 233);
    margin-top: 5px
    
   ;
}
